body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: black; /* Latar belakang putih */
    font-family: Sans-Serif;
}

img {
  width: 150px;
  height: 100px;
}

.text {
  color: magenta;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  text-transform: capitalize;
}

footer {
  text-align: center;
  text-transform: capitalize;
  color: #787878;
}
